@import url("popup.css");

.service-group {
	text-align: left !important;
}

.label .error-message {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 250px;
}

li.service-item {
	font-weight: bold;
}