@import url("addService.css");
@import url("alert.css");
@import url("serviceList.css");
@import url("serviceSettings.css");

body {
	padding-top: 50px;
}

.content-container {
	bottom: 0;
	left: 241px;
	padding-top: 13px;
	position: absolute;
	right: 0;
	overflow: auto;
	top: 40px;
}

	.settings-form-container {
		box-sizing: border-box;
		float: left;
		width: 50%;
	}

		.settings-form-container fieldset {
			padding-left: 10px;
		}

	.project-selection-container {
		box-sizing: border-box;
		float: left;
		padding: 0 10px;
		width: 50%;
	}

	.content-container .alert-error {
		clear: both;
		margin: 10px;
	}

.navbar .brand {
	margin-left: 0 !important;
	text-align: center;
	width: 190px;
}

	.navbar .logo {
		vertical-align: top;
		width: 20px;
	}

	.navbar .toggle-button {
		top: 6px;
	}

	.navbar .nav.pull-right {
		margin-right: 10px;
	}

.sidebar-nav {
	border-right: 1px solid #BBB;
	bottom: 0;
	left: 0;
	overflow: auto;
	padding: 10px;
	position: fixed;
	text-align: center;
	top: 40px;
	width: 220px;
}

.filter {
	box-sizing: border-box;
	height: 30px;
	margin: 0 20px 5px 0;
	position: relative;
	width: 100%;
}

	.filter input {
		box-sizing: border-box;
		height: 29px;
		left: 0;
		position: absolute;
		width: 100%;
	}

	.filter i {
		cursor: pointer;
		display: none;
		position: absolute;
		right: 2px;
		top: 1px;
	}

@media (max-width: 767px) {

	.sidebar-nav {
		position: absolute;
	}

	.settings-form-container {
		float: none;
		width: 100%;
	}

	.project-selection-container {
		float: none;
		width: 100%;
	}
}

@media (max-width: 515px) {

	.sidebar-nav {
		border: none;
		position: static;
		width: auto;
	}

	.content-container {
		width: auto;
		right: auto;
		position: static;
	}

}
