@import url("addService.css");
@import url("alert.css");
@import url("serviceList.css");
@import url("serviceSettings.css");

body {
	padding-top: 50px;
}

.scrollable {
	overflow: auto;
	height: 100%;
	width: 100%;
}

.fixed-bottom {
	position: absolute;
	bottom: 0;
	width: 100%
}

.content-container {
	bottom: 0;
	left: 241px;
	padding-top: 13px;
	position: absolute;
	right: 0;
	overflow: auto;
	top: 40px;
}

	.settings-form-container {
		box-sizing: border-box;
		float: left;
		width: 50%;
	}

		.settings-form-container fieldset {
			padding-left: 10px;
		}

	.project-selection-container {
		box-sizing: border-box;
		float: left;
		padding: 0 10px;
		width: 50%;
	}

		.project-selection-container .filter-count {
			float: right;
		}

		.project-selection-container .check-all {
			float: left;
			margin: 11px 7px 0 15px;
		}
		
		.project-selection-container .group-name {
			font-weight: bold;
		}

	.content-container .alert-error {
		clear: both;
		margin: 10px;
	}

.navbar .brand {
	margin-left: 0 !important;
	text-align: center;
	width: 190px;
}

	.navbar .logo {
		vertical-align: top;
		width: 20px;
	}

	.navbar .toggle-button {
		top: 6px;
	}

	.navbar .nav.pull-right {
		margin-right: 10px;
	}

.sidebar-nav {
	border-right: 1px solid #BBB;
	bottom: 0;
	left: 0;
	padding-bottom: 40px;
	position: fixed;
	text-align: center;
	top: 40px;
	width: 240px;
}

	.sidebar-nav .service-list-separator {
		display: none;
	}

	.sidebar-nav .scrollable {
		padding: 10px;
		box-sizing: border-box;
	}

	.sidebar-nav .feedback-link {
		background-color: khaki;
		border-bottom: -40px;
		height: 40px;
		line-height: 40px;
	}

		.sidebar-nav .feedback-link a {
			text-decoration: none;
			color: black;
		}

		.sidebar-nav .feedback-link a:hover {
			text-decoration: none;
			color: #0088cc;
		}


.filter {
	box-sizing: border-box;
	height: 30px;
	margin: 0 20px 5px 0;
	position: relative;
	width: 100%;
}

	.filter input {
		box-sizing: border-box;
		height: 30px;
		left: 0;
		position: absolute;
		width: 100%;
	}

	.filter i {
		cursor: pointer;
		display: none;
		position: absolute;
		right: 3px;
		top: 1px;
	}

@media (max-width: 767px) {

	.sidebar-nav {
		position: absolute;
	}

	.settings-form-container {
		float: none;
		width: 100%;
	}

	.project-selection-container {
		float: none;
		width: 100%;
	}
}

@media (max-width: 515px) {

	.sidebar-nav {
		border: none;
		position: static;
		width: auto;
	}

		.sidebar-nav .feedback-link {
			position: relative;
		}
		
	.content-container {
		width: auto;
		right: auto;
		position: static;
	}

}
