body {
	background-color: #141414;
	color: white;
	min-width: 250px;
}

ul {
	margin: 0;
}

li {
	list-style: none;
}

	li.info {
		background-color: #222;
		margin: 5px 5px 10px 5px;
		padding: 5px;
	}

		li.info a, li.info a:hover, li.info a:visited {
			color: white;
			display: block;
			text-decoration: none;
		}

.service-name {
	color: #F90;
	font-weight: bold;	
	text-align: center;
}

.no-services-message {
	color: #F90;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;	
	text-align: center;
}

li.service-item {
	background-color: #360;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 5px;
	padding: 5px;
	white-space: nowrap;
}

	.service-item.build-broken {
		background-color: #900;
	}

	.service-item.building {
		background-image: url(../img/building.gif);
		background-repeat: no-repeat;
		background-position: right top;
		background-origin: content-box;
	}

.service-item-name {
	padding-right: 20px;
}

.service-group {
	color: #999;
	display: block;
	font-size: 8pt;
	margin-top: 5px;
	margin-bottom: -5px;
	text-align: right;
}

.actions {
	background-color: #555;
	text-align: right;
}

.actions a {
	display: inline-block;
	padding: 5px 5px 0 5px;
}

.actions a:hover {
	background-color: #999;
}

.actions img {
	height: 25px;
	width: 25px;
}