body {
	background-color: #141414;
	color: white;
	margin-top: 55px;
	min-width: 210px;
}

.navbar a.brand {
	margin-left: -10px;
}

	.navbar a.brand img {
		height: 25px;
		width: 25px;
		vertical-align: text-bottom;
	}

	.navbar .nav {
		padding-right: 10px;
	}

.service-name-container {
	color: #F90;
	font-weight: bold;	
	text-align: center;
}

.no-services-message {
	color: #F90;
	font-weight: bold;
	margin-top: 60px;
	margin-bottom: 1em;	
	text-align: center;
}

ul {
	margin: 0;
}

.info-list li {
	list-style: none;
}

	.info-list li.info {
		margin: 5px;
	}

		.info-list li.info a, .info-list li.info a:hover, .info-list li.info a:visited {
			color: white;
			display: block;
			text-decoration: none;
		}

li.service-item {
	background-color: #360;
	border-radius: 5px;
	cursor: pointer;
	height: 20px;
	margin-top: 5px;
	padding: 5px 30px 5px 5px;
	position: relative;
	white-space: nowrap;
}

	li.service-item .tooltip {
		white-space: normal;
	}
	
	li.service-item a {
		height: 20px;
	}

	li.service-item.disabled {
		background-color: #888;
	}

		li.service-item.disabled .service-item-name {
			color: black;
		}

		li.service-item.disabled.broken {
			background-color: #888;
		}

	li.service-item.offline {
		background-color: #888;
	}

		li.service-item.offline.broken {
			background-color: #888;
		}

		li.service-item.offline.disabled .service-item-name,
		li.service-item.offline.disabled.broken .service-item-name {
			color: black;
		}

		li.service-item.offline .service-item-name,
		li.service-item.offline .icon-spinner {
			color: #360;
		}

		li.service-item.offline.broken .service-item-name,
		li.service-item.offline.broken .icon-spinner {
			color: #900;
		}

	li.service-item.building {
		background-color: #f89406;
	}

		li.service-item.building .service-item-name,
		li.service-item.building .label,
		li.service-item.building .icon-spinner {
			color: #360;
		}

	li.service-item.broken {
		background-color: #900;
	}

		li.service-item.broken.building {
			background-color: #f89406;
		}
	
		li.service-item.broken.building .service-item-name,
		li.service-item.broken.building .label,
		li.service-item.broken.building .icon-spinner {
			color: #900;
		}

	.service-item-name {
		margin-right: 10px;
	}

	.service-item .label {
		margin: 1px 0px 0 7px;
	}

	.service-item i.icon-spinner {
		display: none;
		position: absolute;
		right: 5px;
		top: 6px;
	}

	.service-item.building i.icon-spinner {
		display: inline-block;
	}

.service-group {
	color: #999;
	display: block;
	font-size: 8pt;
	margin-top: 5px;
	margin-bottom: -5px;
	text-align: right;
}

.label .error-message {
	display: none;
}
