.settings-container {
	position: absolute;
	top: 42px;
	bottom: 0;
	left: 221px;
	right: 0;
	overflow: auto;
}

	.settings-form-container {
		padding-top: 10px;
		float: left;
		width: 480px;
	}

	.project-selection-container {
		display: inline-block;
		margin: 10px 5px 0 10px;
		width: 470px;
	}

	.view-selection {
		text-align: right;
	}

	.view-selection .control-group > label {
		width: 240px;
	}

.alert-error {
	margin: 5px;
	clear: both;
}
	
.icon-refresh.animate {
	background-image: url(../../img/loading.gif);
	background-position: 0 0;
}
