.view-selection {
	text-align: right;
}

	.view-selection .controls {
		float: right;
		margin-left: 10px;
	}

	.view-selection .control-group > label {
		float: right;
		width: auto;
	}

input.url-input {
	width: 100%;
}

div.url {
	padding-right: 41px;
}

@media (max-width: 515px) {

	input.url-input {
		width: 206px;
	}

	div.url {
		padding-right: 0;
	}
