.service-list li a {
	height: 48px;
}

.service-list li .service-icon {
	margin-top: 0;
	margin-bottom: 0;
	float: left;
}

.service-list li .service-type-name {
	padding-top: 18px;
	float: right;
}
