.project-selection-container .panel-group {
	margin-bottom: 10px;
}

.project-selection-container .filter-count {
	float: right;
}

.project-selection-container .check-all {
	margin-right: 5px;
}

.project-selection-container .panel-title {
	font-weight: bold;
}

.project-selection-container .panel-body {
	padding: 10px 15px 0 15px;
}

.project-name {
	font-weight: normal;
}
