<div class="panel-group" id="projects-accordion">
	<div class="panel panel-default" ng-repeat="group in groups" ng-hide="group.visibleCount == 0">
		<div class="panel-heading">
			<h4 class="panel-title">
				<input type="checkbox" class="check-all" ng-change="checkAll(group)" ng-model="group.allSelected" ui-indeterminate="group.someSelected">
				<a data-toggle="collapse" href="#project-group-{{ $index }}">
					<span class="group-name">{{ group.name || 'Projects' }}</span>
					<span class="filter-count badge" title="Visible / All projects in group">
						<span ng-show="group.visibleCount != group.projectsCount">{{ group.visibleCount }} / </span>{{ group.projectsCount }}
					</span>
				</a>
			</h4>
		</div>
		<div class="panel-collapse collapse" ng-class="{ in: group.hasSelectedOnShow }" id="project-group-{{ $index }}">
			<div class="panel-body">
				<label class="checkbox" ng-repeat="item in group.projects | filter:search">
					<input type="checkbox" ng-model="item.isSelected">
					<span class="project-name" ng-class="{ 'text-muted': item.isDisabled }" ng-bind-html="item.nameHtml"></span>
					<span class="pull-right">
						<span class="label label-default" ng-show="item.isDisabled">Disabled</span>
					</span>
				</label>
			</div>
		</div>
	</div>
</div>
<div class="alert alert-info" ng-show="!groups">No projects available</div>
