<fieldset>
    <div ng-repeat="field in service.fields">
        <div class="form-group">
            <div class="input-group" ng-if="field.type == 'repository'">
                <span class="input-group-addon"><i class="fa fa-git"></i></span>
                <input
                    type="text"
                    name="repository"
                    class="form-control"
                    ng-required
                    placeholder="{{ field.name || 'Repository, f.e. BuildReactor' }}"
                    ng-model="config[field.config || 'repository']"
                />
            </div>
            <div class="input-group" ng-if="field.type == 'url'">
                <span class="input-group-addon"><i class="fa fa-globe fa-fw"></i></span>
                <input
                    type="text"
                    name="url"
                    class="form-control"
                    ng-required
                    placeholder="{{ field.name || 'Server URL' }}"
                    ng-model="config[field.config || 'url']"
                />
            </div>
            <div class="input-group" ng-if="field.type == 'token'">
                <span class="input-group-addon"><i class="fa fa-ticket fa-fw"></i></span>
                <input
                    type="password"
                    class="form-control"
                    placeholder="{{ field.name || 'Token' }}"
                    ng-model="config[field.config || 'token']"
                />
            </div>
            <div class="input-group" ng-if="field.type == 'username'">
                <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                <input
                    type="text"
                    class="form-control"
                    placeholder="{{ field.name || 'Username' }}"
                    ng-model="config[field.config || 'username']"
                />
            </div>
            <div class="input-group" ng-if="field.type == 'password'">
                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                <input
                    type="password"
                    class="form-control"
                    placeholder="{{ field.name || 'Password' }}"
                    ng-model="config[field.config || 'password']"
                />
            </div>
            <div class="form-group" ng-if="field.type == 'branch'">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-code-fork fa-fw"></i></span>
                    <input
                        type="text"
                        class="form-control"
                        placeholder="{{ field.name || 'Branch, f.e. refs/heads/release'}}"
                        ng-model="config[field.config || 'branch']"
                    />
                </div>
            </div>
            <p class="help-block" ng-bind-html="field.help"></p>
        </div>
    </div>
</fieldset>
