@import "../common-ui/_angular-ui.scss";
@import "../common-ui/directives/buildList/_buildList.scss";
@import "../common-ui/directives/service/_service.scss";
@import "../common-ui/directives/buildGroup/_buildGroup.scss";
@import "../common-ui/directives/build/_build.scss";

body {
  margin-left: .3em;
  margin-right: .3em;
  margin-top: 45px;
  min-width: 350px;
}

.label .error-message {
  display: none;
}

.navbar {
  padding-right: 1em;
  min-height: 40px;
}

.navbar-right li {
  float: right;
}

.navbar-nav > li > a {
  padding-top: 5px;
  padding-bottom: 0;
}

.theme-dark {
  background-color: #000;
}

.theme-light {
  background-color: #fff;
}
