<div class="col-md-12">
	<form class="form-horizontal col-md-4" role="form">
		<fieldset>
			<legend>
				<div class="form-group">
					<label class="col-md-6 control-label">Notifications</label>
					<div class="col-md-6">
						<ul class="nav nav-pills">
							<li role="presentation" ng-class="{ active: config.notifications.enabled }" ng-click="setField('enabled', true)"><a>On</a></li>
							<li role="presentation" ng-class="{ active: !config.notifications.enabled }" ng-click="setField('enabled', false)"><a>Off</a></li>
						</ul>
					</div>
				</div>
			</legend>
			<div class="form-group" ng-class="{ 'text-muted': !config.notifications.enabled }">
				<label class="col-md-6 control-label">Show when dashboard active</label>
				<div class="col-md-6">
					<ul class="nav nav-pills">
						<li role="presentation" ng-class="{ active: config.notifications.showWhenDashboardActive }" ng-click="setField('showWhenDashboardActive', true)">
							<a>On</a>
						</li>
						<li role="presentation" ng-class="{ active: !config.notifications.showWhenDashboardActive }" ng-click="setField('showWhenDashboardActive', false)"><a>Off</a></li>
					</ul>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'text-muted': !config.notifications.enabled }">
				<label class="col-md-6 control-label">Build broken</label>
				<div class="col-md-6">
					<ul class="nav nav-pills">
						<li role="presentation" ng-class="{ active: config.notifications.buildBroken }" ng-click="setField('buildBroken', true)"><a>On</a></li>
						<li role="presentation" ng-class="{ active: !config.notifications.buildBroken }" ng-click="setField('buildBroken', false)"><a>Off</a></li>
					</ul>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'text-muted': !config.notifications.enabled }">
				<label class="col-md-6 control-label">Build fixed</label>
				<div class="col-md-6">
					<ul class="nav nav-pills">
						<li role="presentation" ng-class="{ active: config.notifications.buildFixed }" ng-click="setField('buildFixed', true)"><a>On</a></li>
						<li role="presentation" ng-class="{ active: !config.notifications.buildFixed }" ng-click="setField('buildFixed', false)"><a>Off</a></li>
					</ul>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'text-muted': !config.notifications.enabled }">
				<label class="col-md-6 control-label">Build started</label>
				<div class="col-md-6">
					<ul class="nav nav-pills">
						<li role="presentation" ng-class="{ active: config.notifications.buildStarted }" ng-click="setField('buildStarted', true)"><a>On</a></li>
						<li role="presentation" ng-class="{ active: !config.notifications.buildStarted }" ng-click="setField('buildStarted', false)"><a>Off</a></li>
					</ul>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'text-muted': !config.notifications.enabled }">
				<label class="col-md-6 control-label">Build successful</label>
				<div class="col-md-6">
					<ul class="nav nav-pills">
						<li role="presentation" ng-class="{ active: config.notifications.buildSuccessful }" ng-click="setField('buildSuccessful', true)"><a>On</a></li>
						<li role="presentation" ng-class="{ active: !config.notifications.buildSuccessful }" ng-click="setField('buildSuccessful', false)"><a>Off</a></li>
					</ul>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'text-muted': !config.notifications.enabled }">
				<label class="col-md-6 control-label">Build still failing</label>
				<div class="col-md-6">
					<ul class="nav nav-pills">
						<li role="presentation" ng-class="{ active: config.notifications.buildStillFailing }" ng-click="setField('buildStillFailing', true)"><a>On</a></li>
						<li role="presentation" ng-class="{ active: !config.notifications.buildStillFailing }" ng-click="setField('buildStillFailing', false)"><a>Off</a></li>
					</ul>
				</div>
			</div>
		</fieldset>
	</form>
</div>
