<div class="sidebar-nav">
	<div class="scrollable">
		<ul class="service-list nav nav-pills nav-stacked"
		    html-sortable
		    html-sortable-callback="sortableCallback"
		    ng-model="configs">
			<li
				ng-repeat="config in configs"
				ng-class="{ muted: config.disabled, active: view == 'service' && config.name === currentConfig.name }">
				<a ng-href="/src/settings/index.html#/service/{{ config.name }}" class="nav-pill">
					<span class="handle">::</span>
					<img class="pill-icon" ng-src="{{ serviceIcons[config.baseUrl] }}">
					<span class="pill-name">{{ config.name }}</span>
				</a>
			</li>
		</ul>
		<hr class="service-list-separator" ng-show="configs.length">
		<ul class="actions nav nav-pills nav-stacked">
			<li ng-class="{ active: view == 'new', muted: currentConfig.disabled }" ng-show="view == 'new' && currentConfig">
				<a href="#">
					<img class="pill-icon" ng-src="{{ serviceIcons[currentConfig.baseUrl] }}">
					<span class="pill-name">{{ currentConfig.name }}</span>
				</a>
			</li>
			<li ng-class="{ active: view == 'new'  && !currentConfig }">
				<a ng-href="/src/settings/index.html#/new">
					<i class="pill-icon fa fa-plus-circle fa-3x"></i>
					<span class="pill-name">Add</span>
				</a>
			</li>
			<li ng-class="{ active: view == 'view' }">
				<a ng-href="/src/settings/index.html#/view">
					<i class="pill-icon fa fa-desktop fa-3x"></i>
					<span class="pill-name">View</span>
				</a>
			</li>
			<li ng-class="{ active: view == 'configuration' }">
				<a ng-href="/src/settings/index.html#/configuration">
					<i class="pill-icon fa fa-cogs fa-3x"></i>
					<span class="pill-name">Configuration</span>
				</a>
			</li>
		</ul>
	</div>
</div>
