{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "jasmine": true,
        "amd": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
        # rules definitions at http://eslint.org/docs/rules/
        # "2" - fails build on rule failure
        # "1" - warning (should still be shown in your text editor)
        # "0" - ignore rule

        # some rules allow configuration in which case you'd use [2, param] form
        # where the "param" are options from above url

        # eslint:recommended overrides, defaults at
        # https://github.com/eslint/eslint/blob/master/conf/eslint.json

        "no-alert": 2,
        "no-array-constructor": 2,
        "no-bitwise": 2,
        "no-caller": 2,
        "no-catch-shadow": 2,
        "no-confusing-arrow": [2, { "allowParens": true }],
        "no-continue": 2,
        "no-div-regex": 2,
        "no-eq-null": 2,
        "no-eval": 2,
        "no-extend-native": 2,
        "no-extra-bind": 2,
        "no-extra-label": 2,
        "no-floating-decimal": 2,
        "no-implicit-coercion": 2,
        "no-implicit-globals": 2,
        "no-implied-eval": 2,
        "no-invalid-this": 1,
        "no-iterator": 2,
        "no-label-var": 2,
        "no-labels": 2,
        "no-lone-blocks": 2,
        "no-lonely-if": 2,
        "no-loop-func": 2,
        "no-mixed-requires": 2,
        "linebreak-style": 2,
        "no-multi-spaces": 2,
        "no-multi-str": 2,
        "no-multiple-empty-lines": 2,
        "no-native-reassign": 2,
        "no-negated-condition": 2,
        "no-nested-ternary": 2,
        "no-new": 2,
        "no-new-func": 2,
        "no-new-object": 2,
        "no-new-require": 2,
        "no-new-wrappers": 2,
        "no-octal-escape": 2,
        "no-param-reassign": 2,
        "no-path-concat": 2,
        "no-process-env": 2,
        "no-process-exit": 2,
        "no-proto": 2,
        "no-restricted-imports": 2,
        "no-restricted-modules": 2,
        "no-restricted-syntax": 2,
        "no-return-assign": 2,
        "no-script-url": 2,
        "no-self-compare": 2,
        "no-sequences": 2,
        "no-shadow": 1,
        "no-shadow-restricted-names": 2,
        "no-whitespace-before-property": 2,
        "no-spaced-func": 2,
        "no-sync": 2,
        "no-trailing-spaces": [2, { "skipBlankLines": true }],
        "no-throw-literal": 1,
        "no-undef-init": 2,
        "no-undefined": 1,
        "no-underscore-dangle": 2,
        "no-unmodified-loop-condition": 2,
        "no-unneeded-ternary": 2,
        "no-unused-expressions": 2,
        "no-unused-vars": [1, {"vars": "all", "args": "none"}],
        "no-useless-call": 2,
        "no-useless-concat": 2,
        "no-useless-constructor": 2,
        "no-void": 2,
        "no-var": 1,
        "no-warning-comments": 1,
        "no-with": 2,

        "array-bracket-spacing": 2,
        "array-callback-return": 2,
        "arrow-body-style": 1,
        "arrow-spacing": 2,
        "accessor-pairs": 2,
        "block-scoped-var": 2,
        "block-spacing": 2,
        "brace-style": 2,
        "callback-return": 2,
        "comma-spacing": 2,
        "comma-style": 2,
        "complexity": [1, 4],
        "computed-property-spacing": 2,
        "consistent-return": 2,
        "consistent-this": [1, 'self'],
        "curly": [2, "multi-line"],
        "default-case": 1,
        "dot-location": [2, "property"],
        "eol-last": 2,
        "eqeqeq": 2,
        "generator-star-spacing": 2,
        "global-require": 2,
        "guard-for-in": 2,
        "handle-callback-err": 2,
        # "indent": 2,
        "key-spacing": 1,
        "keyword-spacing": 2,
        "lines-around-comment": 2,
        "max-depth": 2,
        "max-len": [1, 120],
        "max-nested-callbacks": 2,
        "max-params": [1, 4],
        "max-statements": 1,
        "new-cap": 2,
        "new-parens": 2,
        "newline-per-chained-call": [1, {"ignoreChainWithDepth": 6}],
        "object-curly-spacing": [2, "always"],
        "object-shorthand": 1,
        "one-var-declaration-per-line": 2,
        "operator-assignment": 2,
        "operator-linebreak": ["error", "after"],
        "prefer-arrow-callback": 1,
        "prefer-const": 1,
        "prefer-rest-params": 1,
        "prefer-spread": 1,
        "prefer-template": 1,
        "quote-props": [2, "as-needed", { "unnecessary": false }],
        "radix": 2,
        "require-yield": 2,
        "semi": 2,
        "semi-spacing": 2,
        "sort-vars": 1,
        "sort-imports": 2,
        "space-before-blocks": 2,
        "space-before-function-paren": [2, "never"],
        "space-in-parens": 2,
        "space-infix-ops": 2,
        "space-unary-ops": 2,
        "spaced-comment": 2,
        "strict": [1, "never"],
        "template-curly-spacing": 2,
        "vars-on-top": 1,
        "wrap-iife": 2,
        "wrap-regex": 2,
        "yield-star-spacing": 2,
        "yoda": 2
    },
}
