{
    "ecmaVersion": "6",
    "parser": "babel-eslint",
    "ecmaFeatures": {
        "impliedStrict": true
    },
    "env": {
        "es6": true,
        "browser": true,
        "jasmine": true,
        "amd": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
        # rules definitions at http://eslint.org/docs/rules/
        # "2" - fails build on rule failure
        # "1" - warning (should still be shown in your text editor)
        # "0" - ignore rule (you can as well just remove it)
        
        # some rules allow configuration in which case you'd use [2, param] form
        # where the "param" are options from above url

        # modify recommended rules
        "no-unused-vars": [1, {"vars": "all", "args": "none"}],
        "no-extra-parens": [2, "functions"],

        # possible errors
        "no-unexpected-multiline": 2,

        # best practices
        "accessor-pairs": 2,
        "block-scoped-var": 2,
        "complexity": [1, 4],
        "consistent-return": 2,
        "curly": [2, "multi-line"],
        "default-case": 1,
        "dot-location": [2, "property"],
        "dot-notation": 1,
        "eqeqeq": 2,
        "guard-for-in": 2,
        "no-alert": 2,
        "no-caller": 2,
        "no-console": 1,
        "no-div-regex": 2,
        "no-else-return": 1,
        "no-empty-label": 2,
        "no-empty-pattern": 2,
        "no-eq-null": 2,
        "no-eval": 2,
        "no-extend-native": 2,
        "no-extra-bind": 2,
        "no-floating-decimal": 2,
        "no-implicit-coercion": 2,
        "no-implied-eval": 2,
        "no-invalid-this": 1,
        "no-iterator": 2,
        "no-labels": 2,
        "no-lone-blocks": 2,
        "no-loop-func": 2,
        "no-magic-numbers": 1,
        "no-multi-spaces": 2,
        "no-multi-str": 2,
        "no-native-reassign": 2,
        "no-new-func": 2,
        "no-new-wrappers": 2,
        "no-new": 2,
        "no-octal-escape": 2,
        "no-param-reassign": 1,
        "no-process-env": 2,
        "no-proto": 2,
        "no-return-assign": 2,
        "no-script-url": 2,
        "no-self-compare": 2,
        "no-sequences": 2,
        "no-throw-literal": 1,
        "no-unused-expressions": 1,
        "no-useless-call": 2,
        "no-useless-concat": 2,
        "no-void": 2,
        "no-warning-comments": 2,
        "no-with": 2,
        "radix": 2,
        "vars-on-top": 1,
        "wrap-iife": 2,
        "yoda": 2,

        # strict
        "strict": [1, "global"],

        # variables
        "init-declarations": [1, "always"],
        "no-catch-shadow": 2,
        "no-label-var": 2,
        "no-shadow-restricted-names": 2,
#        "no-shadow": 1,
        "no-undef-init": 2,
        "no-undefined": 1,
        "no-use-before-define": 1,

        # node and commonjs
        "callback-return": 2,
        "global-require": 1,
        "handle-callback-err": 2,
        "no-mixed-requires": 2,
        "no-new-require": 2,
        "no-path-concat": 2,
        "no-process-exit": 2,
        "no-restricted-modules": 2,
        "no-sync": 2,

        # stylistic issues
        "array-bracket-spacing": 1,
        "block-spacing": 2,
        "brace-style": [2, "1tbs", { "allowSingleLine": true }],
#        "camelcase": 2,
        "comma-spacing": 2,
        "comma-style": 2,
        "computed-property-spacing": 2,
        "consistent-this": [1, "self"],
        "eol-last": 1,
#        "func-names": 2,
        "func-style": [1, "expression"],
#        "id-length": 2,
#        "id-match": 2,
#        "indent": 2,
        "key-spacing": 1,
        "linebreak-style": 1,
        "lines-around-comment": 2,
        "max-nested-callbacks": [1, 4],
        "new-cap": 1,
        "new-parens": 2,
#        "newline-after-var": 2,
        "no-array-constructor": 2,
        "no-continue": 2,
        "no-lonely-if": 2,
        "no-multiple-empty-lines": [2, {"max": 1}],
        "no-negated-condition": 2,
        "no-nested-ternary": 2,
        "no-new-object": 2,
        "no-spaced-func": 2,
        "no-trailing-spaces": [2, { "skipBlankLines": true }],
        "no-underscore-dangle": 2,
        "no-unneeded-ternary": 2,
#        "object-curly-spacing": 2,
#        "one-var": 2,
        "operator-assignment": 2,
        "operator-linebreak": [2, "before", { "overrides": { "?": "after", ":": "after" } }],
        "semi-spacing": 2,
        "semi": 2,
        "space-after-keywords": 1,
        "space-before-blocks": 2,
        "space-before-function-paren": [1, "never"],
        "space-in-parens": 2,
        "space-infix-ops": 2,
        "space-return-throw-case": 2,
        "space-unary-ops": 2,
        "spaced-comment": 2,
        "wrap-regex": 2,
#        "padded-blocks": 2,
        "quote-props": [1, "as-needed"],
#        "quotes": [2, "single"],

        # ECMAScript 6
        "arrow-parens": 2,
        "arrow-spacing": 2,
        "constructor-super": 2,
        "generator-star-spacing": 2,
        "no-class-assign": 2,
        "no-const-assign": 2,
        "no-dupe-class-members": 2,
        "no-this-before-super": 2,
        "no-var": 1,
#        "object-shorthand": 2,
        "prefer-arrow-callback": 1,
        "prefer-const": 1,
        "prefer-reflect": 1,
        "prefer-spread": 1,
        "prefer-template": 1,
        "require-yield": 2,
    }
}
