.nav-header {
	text-align: center;
	color: white;
	font-size: large;
	padding: 10px;    
}

.scrollable {

	/* required settings */
	position:relative;
	overflow:hidden;
	width: auto;
	height:200px;
}

.steps {
	position: relative;
	height: 2em;
}

.steps li 
{
	position: absolute;
	opacity:0;
	-webkit-transition:opacity 0.5s linear;
}

.steps .active {
	opacity:1;
}

.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
}

.items .page {
	float:left;
	width: 560px;
}

.service-list-container {
	position: absolute;
	top: 60px;
	bottom: 20px;
	left: 20px;
	width: 200px;
	border: 1px solid #AAA;
	background-color: #EEE;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
	
	#service-list a {
		background-color: #BBB;
		padding: 3px;
		display: block;
		border-top: 1px solid grey;
		border-bottom: 1px solid grey;
		margin-bottom: 5px;
	}

	#service-list a:hover {
		background-color: sandybrown;
		cursor: pointer;
	}

	#service-list a.active {
		background-color: orange;
	}

#settings-container {
	position: absolute;
	top: 60px;
	bottom: 20px;
	left: 240px;
	right: 20px;
	padding: 0;
	border: 1px solid #AAA;
	background-color: #EEE;
}

.service-header {
	font-size: large;
	text-align: center;
	padding: 5px;
	background-color: #bbb;
	height: 25px;
}

#settings-frame-container 
{
	position: absolute;
	top: 35px;
	bottom: 0;
	width: 100%;
}

#settings-frame {
	border: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}
