.brand 
{
	width: 170px;
	text-align: center;
}

#service-name {
	color: white;
	font-size: large;
	color: white;
}

#alert-saved 
{
	position: absolute;
	display: inline;
	top: 3px;
	width: 100%;
	text-align: center;
	z-index: 2000;
}

	#alert-saved .alert 
	{
		position: absolute;
		display: inline-block;
		width: 200px;
	}

.service-list-container {
	position: absolute;
	top: 40px;
	bottom: 0px;
	left: 0px;
	width: 200px;
	padding: 10px;
	text-align: center;
	border-right: 1px solid #BBB;
}
	
#settings-container {
	position: absolute;
	top: 0px;
	bottom: 3px;
	left: 221px;
	right: 0;
}

	#settings-frame-container 
	{
		position: absolute;
		top: 50px;
		bottom: 0;
		width: 100%;
	}

	#settings-frame {
		border: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
	}

.scrollable {

	/* required settings */
	position:relative;
	overflow:hidden;
	width: auto;
	height:200px;
}

	.steps {
		position: relative;
		height: 2em;
		margin-right: 2em; /* don't hide the close button' */
	}

	.steps li 
	{
		position: absolute;
		opacity:0;
		-webkit-transition:opacity 0.5s linear;
	}

	.steps .active {
		opacity:1;
	}

	.scrollable .items {
		/* this cannot be too large */
		width:2000em;
		position:absolute;
	}

	.items .page {
		float:left;
		width: 560px;
	}

#service-add-list .thumbnail {
	width: 110px;
	height: 110px;
	vertical-align: middle;
	line-height: 120px;
}

	#service-add-list .thumbnail img {
		display: inline;
	}