{{!
{
	'name' : 'popup',
	'description' : 'Popup window',
	'styles' : ['css/popup.css']
}
}}
{{#if services}}
<ul class="info-list">
	{{#services}}
	<li class="info">
		<div class="service-name-container">
			<span class="service-name">{{name}}</span>
			{{#if failedCount}}
			<span class="badge badge-important failed-count" title="{{failedCount}} broken builds">{{failedCount}}</span>
			{{/if}}
		</div>
		{{#groups}}
			{{#if name}}<div class="service-group">{{name}}</div>{{/if}}
			<ul class="service-item-list">
				{{#items}}
				<li class="service-item{{#if isBroken}} build-broken{{/if}}{{#if isRunning}} building{{/if}}">
					<a href="{{webUrl}}" target="_blank">
						<span class="service-item-name">{{name}}</span>
						<i class="icon-spinner icon-spin icon-large pull-right"></i>
					</a>
				</li>
				{{/items}}
			</ul>
		{{/groups}}
	</li>
	{{/services}}
</ul>
{{else}}
<div class="no-services-message">No services configured</div>
{{/if}}
