{{!
{
	'name' : 'projectView',
	'description' : 'Accordion for projects',
	'styles' : ['css/projectView.css']
}
}}
{{#if groups}}
<div class="accordion" id="projects-accordion">
	{{#each groups}}
	<div class="accordion-group group" data-id="{{id}}">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" href="#project-group-{{id}}">{{#if name}}{{name}}{{else}}{{$ "projectView_noGroupName"}}{{/if}}</a>
		</div>
		<div class="accordion-body collapse" id="project-group-{{id}}">
			<div class="accordion-inner">
				{{#each items}}
					<label class="checkbox project-item" data-id="{{id}}" for="project-item-{{../id}}-{{id}}">
					  <input type="checkbox" {{#unless enabled}}disabled="disabled"{{/unless}} id="project-item-{{../id}}-{{id}}"  {{#if selected}}checked="checked"{{/if}}/>
					  <span class="project-item-name">{{name}}</span>
					</label>
				{{/each}}
			</div>
		</div>
	</div>
	{{/each}}
</div>
{{else}}
<div class="alert alert-info">No projects available</div>
{{/if}}