{{!
{
	'name' : 'settings',
	'description' : 'Service settings form with Save button',
	'styles' : [ 'css/settingsForm.css' ]
}
}}
<form class="settings-form" action="">
	<fieldset>
		{{#isDefined url}}
		<div class="input-prepend field" data-name="url">
			<span class="add-on"><i class="icon-globe"></i></span>
			<input type="url" name="url" class="url-input" required placeholder="{{$ 'settings_url'}}{{ urlHint }}" value="{{ url }}" />
		</div>
		{{/isDefined}}
		{{#isDefined username}}
		<div class="input-prepend field" data-name="username">
			<span class="add-on"><i class="icon-user"></i></span>
			<input type="text" name="username" class="username-input" placeholder="{{$ 'settings_username'}}" value="{{ username }}" />
		</div>
		{{/isDefined}}
		{{#isDefined password}}
		<div class="input-prepend field" data-name="password">
			<span class="add-on"><i class="icon-key"></i></span>
			<input type="password" name="password" class="password-input" placeholder="{{$ 'settings_password'}}" value="{{ password }}" />
		</div>
		{{/isDefined}}
		{{#isDefined updateInterval}}
		<label for="update-interval">{{$ 'settings_interval' }}</label>
		<div class="input-append input-prepend field" data-name="updateInterval">
			<span class="add-on"><i class="icon-repeat"></i></span>
			<input type="number" name="update-interval" class="input-mini update-interval-input" min="1" value="{{ updateInterval }}" />
			<span class="add-on">{{$ 'settings_interval_unit' }}</span>
		</div>
		{{/isDefined}}
	</fieldset>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary show-button" name="show-button"><i class="icon-refresh"></i> {{$ 'settings_showProjects' }}</button>
		<button type="button" class="btn btn-success save-button" name="save-button" disabled><i class="icon-save"></i> Save</button>
	</div>
</form>
