.sidebar-nav {
    border-right: 1px solid #bbb;
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;
    top: 57px;
    width: 240px;

    .scrollable {
        height: 100%;
        overflow: auto;
        padding: 5px;
    }

    .sortable-placeholder {
        background-color: #ffe;
        height: 70px;
        width: 100%;
    }

    .nav-link {
        display: flex;
        align-items: center;
        &:not(.active):hover {
            background-color: #ddd;
        }
        &.service-disabled {
            opacity: 0.6;
        }
        &:hover .handle {
            visibility: visible;
        }
    }

    .handle {
        visibility: hidden;
        left: -10px;
        position: relative;
    }

    .pill-icon {
        width: 48px;
        height: 48px;
    }

    .pill-name {
        text-align: right;
        width: 100%;
    }

    .actions {
        font-weight: bold;
    }
}
