.navbar {
    .on-off-switch {
        margin-top: -3px;
    }
    .navbar-brand {
        text-align: center;
        width: 240px;
        > img {
            display: inline;
        }
        .logo {
            vertical-align: top;
            padding-right: 5px;
            width: 20px;
        }
    }
}

.modal-header {
    background-color: #333333;
    span,
    h4 {
        color: #ffffff;
    }
}
