.navbar {
    .on-off-switch {
        margin-top: -3px;
    }
    .navbar-brand {
        text-align: center;
        width: 240px;
        .logo {
            vertical-align: middle;
            padding-right: 5px;
            width: 25px;
        }
    }
}

.modal-header {
    background-color: #333333;
    span,
    h4 {
        color: #ffffff;
    }
}
