@import "../common/_angular-ui.scss";
@import "../common/directives/buildList/_buildList.scss";
@import "../common/directives/service/_service.scss";
@import "../common/directives/buildGroup/_buildGroup.scss";
@import "../common/directives/build/_build.scss";

html, body {
  height: 100%;
}

.label .error-message {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.build-list .no-services-message {
  font-size: x-large;
}

.theme-dark {
  background-color: #000;
}

.theme-light {
  background-color: #fff;
}
