@import 'font-awesome/scss/font-awesome.scss';

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.theme {
    min-height: 100vh;
    min-width: 350px;
    padding-top: 45px;
}
