.settings-buttons {
    text-align: center;
    button {
        margin: 5px;
        i {
            padding-right: 5px;
        }
    }
}

/* .settings-form fieldset {
    padding-left: 10px;
    padding-right: 10px;
    .number {
        width: 50%;
    }
} */
