.pipelines .no-services-message {
    color: #f90;
    font-weight: bold;
    font-size: large;
    padding-top: 20px;
    padding-bottom: 1em;
    text-align: center;
}

.service {
    margin-bottom: 10px;

    .service-name {
        font-size: 18px;
        font-weight: bold;
        padding-top: 5px;
        text-align: center;
    }
}

.build-group {
    .group-name {
        clear: both;
        display: block;
        font-weight: bold;
        font-size: 14px;
        margin-top: 0.5em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .group-items {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}
