.json-editor {
    padding: 10px;
    bottom: 10px;
    left: 10px;
    top: 10px;
    right: 10px;
}

.json-editor textarea {
    height: calc(100vh - 140px);
    margin-bottom: 10px;
}

.json-editor .error-text {
    display: inline-block;
    vertical-align: middle;
}
