.nav-pills li a {
	height: 48px;
}

.nav-pills li img.pill-icon {
	margin-top: 0;
	margin-bottom: 0;
	float: left;
}

.nav-pills li i.pill-icon {
	margin-top: 6px;
	float: left;
}

.nav-pills li .pill-name {
	padding-top: 18px;
	float: right;
	text-align: right;
	width: 125px;
}

.nav-pills .active.muted span {
	color: #CCC;
}

.nav-pills li.muted span {
	color: #999;
}

.actions {
	font-weight: bold;
}