.project-selection-container {
    .group-name {
        font-weight: bold;
    }
    .badge {
        position: relative;
        top: -2px;
    }
    .panel-title {
        font-weight: bold;
    }
    .query-match {
        font-weight: bold;
    }
}
