<div class="settings-container">
	<form class="settings-form" action="" role="form">
		<section dynamic-form service="service" config="config"></section>
		<div class="settings-buttons">
			<button type="button" class="btn btn-primary" ng-click="show()">
				<i class="fa fa-refresh" ng-class="{ 'fa-spin': isLoading }"></i> Show
			</button>
			<button type="button" class="btn btn-success" ng-click="save()">
				<i class="fa fa-save"></i> Save
			</button>
		</div>
	</form>
	<div class="alert alert-danger" ng-show="projectsError">
		<div class="error-message">{{ projectsError.name }}: {{ projectsError.message }}</div>
		<div>
			<a ng-href="{{ projectsError.url }}" target="_blank" class="alert-link">
				{{ projectsError.url }}
			</a>
		</div>
	</div>
	<section selected-projects projects="config.projects" service-name="{{ config.name }}"></section>
</div>
<div class="project-selection-container">
	<section filter-query ng-show="projects.all.length"></section>
	<section project-list projects="projects.all" selected="projects.selected" filter="filterQuery" ng-show="projects.loaded"></section>
</div>
<section br-alert show="saving"></section>
