.service {
	margin-bottom: 10px;

	.service-name {
	  font-size: 18px;
	  font-weight: bold;
	  padding-top: 5px;
	  text-align: center;
	}
}

.theme-dark {
  .service .service-name {
    color: #F90;
  }
}

.theme-light {
  .service .service-name {
    color: #000;
  }
}