.changes-container {
    height: 1.5em;
    overflow: hidden;
    position: relative;
    text-align: left;
    visibility: hidden;
    &.visible {
        visibility: visible;
    }
    .changes {
        display: block;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        text-overflow: ellipsis;
        transform: translateY(90%);
        transition: opacity 1s, transform 2s;
        width: 100%;
        &.active {
            opacity: 1;
            transform: translateY(0);
            transition: opacity 2s, transform 2s;
        }
    }
}
