.build {
    padding: 5px 5px 0 0;

    .progress {
        height: auto;
    }

    a,
    a:hover,
    a:visited {
        border-radius: 5px;
        color: white;
        cursor: pointer;
        display: block;
        padding: 5px 10px 5px 5px;
        position: relative;
        text-decoration: none;
        white-space: nowrap;
        width: 100%;
    }

    .build-name {
        font-weight: bold;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .color-blind-markers {
        position: absolute;
        top: 5px;
        right: 1em;

        svg {
            font-size: 1.5em;
            opacity: 0.5;
            display: none;
        }
    }
    &.broken .color-blind-marker-broken {
        display: inline;
    }
    &.offline .color-blind-marker-offline {
        display: inline;
    }
}
