{{!
{
	'name' : 'addModalService',
	'description' : 'Service icon and name used to add a new service',
	'styles' : []
}
}}
{{#each services}}
<li class="span2">
  <a class="thumbnail" href="#">
	<div class="thumbnail-image">
		<img src="src/{{baseUrl}}/icon.png" alt="{{typeName}}" />
	</div>
	<div class="caption">
		<h5>{{typeName}}</h5>
	</div>
  </a>
</li>
{{/each}}