.thumbnails {
    .thumbnail {
        border-radius: 5px;
        border: 1px solid #ddd;
        display: inline-block;
        height: 140px;
        margin: 5px 0px 5px 5px;
        padding: 10px;
        &.active {
            background-color: #d1d5e4;
            border: 1px solid #777;
        }
        &:hover {
            text-decoration: none;
            border: 1px solid blue;
        }
        transition: border 0.2s ease-in-out;
    }

    .thumbnail-image {
        line-height: 100px;
        img {
            max-width: 140px;
        }
    }

    .caption {
        text-align: center;
        font-weight: bold;
    }
}
