<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Jasmine Spec Runner</title>

    <% css.forEach(function(style){ %>
    <link rel="stylesheet" type="text/css" href="<%= style %>">
    <% }) %>

<!--
    <script type="text/javascript" src="/jasmine/lib/jasmine-core/jasmine.js"></script>
    <script type="text/javascript" src="/jasmine/lib/jasmine-core/jasmine-html.js"></script>
-->
    <% scripts.forEach(function(script){ %>
    <script type="text/javascript" src="<%= script %>"></script>
    <% }) %>

    <% if (typeof specs !== 'undefined') { %>
        <script type="text/javascript">
        // disable jasmine-helper.js as it executes tests on DOM load, before requirejs 2.1 loads all specs
        window.onload = currentWindowOnload;
        require([
            'jquery',
        <% specs.forEach(function(script, i){ %>
            '<%= script %>' <% if (i !== specs.length-1){ %>,<% } %>
        <% }) %>
        ], function ($) {

            'use strict';

            $.fx.off = true;
            jasmine.getFixtures().fixturesPath = 'spec/fixtures';
            jasmine.getEnv().addReporter(new jasmine.HtmlReporter());
            jasmine.getEnv().execute();
        });
        </script>
    <% } %>
</head>

<body>
</body>
</html>
