<form action="">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()">&times;</button>
		<h4 class="modal-title"><span class="fa fa-pencil"></span> Rename</h4>
	</div>
	<div class="modal-body">
		<p>New name:</p>
		<input type="text" class="form-control" ng-model="service.name">
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary" ng-click="rename()">OK</button>
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
	</div>
</form>
