.navbar {
	padding-right: 15px;
}

.navbar-brand {
	text-align: center;
	width: 240px;
}

	.navbar-brand .logo {
		vertical-align: top;
		width: 20px;
	}

	.navbar .on-off-switch {
		margin-top: 10px;
	}

.modal-header { background-color: #333333; }
.modal-header span, .modal-header h4 { color: #ffffff; }
