<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<div class="navbar-brand">
			<img class="logo" src="img/icon.svg" alt="BuildReactor logo">
			BuildReactor
		</div>
	</div>
	<div class="collapse navbar-collapse" id="navbar-collapse">
		<ul class="nav navbar-nav" ng-show="isActive" ng-cloak>
			<li>
				<div on-off-switch on-off="isEnabled" class="on-off-switch"></div>
			</li>
			<li>
				<a id="service-remove-button" tabindex="-1" ng-click="remove()">
					<i class="fa fa-trash-o"></i> Remove
				</a>
			</li>
			<li>
				<a id="service-rename-action" tabindex="-1" ng-click="rename()">
					<i class="fa fa-pencil"></i> Rename
				</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown help-menu">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					Help
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu" role="menu">
					<li role="presentation">
						<a tabindex="-1" href="https://github.com/AdamNowotny/BuildReactor" target="_blank" role="menuitem">
							<i class="fa fa-github fa-fw"></i> GitHub
						</a>
					</li>
 					<li role="presentation" class="divider"></li>
					<li role="presentation">
						<a tabindex="-1" href="https://twitter.com/BuildReactor" target="_blank" role="menuitem">
							<i class="fa fa-twitter fa-fw"></i> Twitter
						</a>
					</li>
					<li role="presentation">
						<a tabindex="-1" href="https://plus.google.com/b/110744393630490320507/110744393630490320507/posts" target="_blank" role="menuitem">
							<i class="fa fa-google-plus fa-fw"></i> Google+
						</a>
					</li>
					<li role="presentation">
						<a tabindex="-1" href="https://chrome.google.com/webstore/detail/buildreactor/agfdekbncfakhgofmaacjfkpbhjhpjmp" target="_blank" role="menuitem">
							<img src="../img/chrome.svg" width="18" height="14"> Chrome WebStore
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
