.thumbnails {
	padding: 10px;
	overflow: auto;
	position: absolute;
	top: 0;
	bottom: 55px;
	left: 0;
	right: 0;
}

	.thumbnails .thumbnail {
		display: inline-block;
		height: 140px;
		margin: 5px 0px 5px 5px;
		text-align: center;
		width: 150px;
	}

	.thumbnails .thumbnail.active {
		background-color: #D1D5E4;
	}
	
		.thumbnails .thumbnail-image {
			height: 110px;
			line-height: 130px;
		}

			.thumbnails .thumbnail-image img {
				max-width: 140px;
			}

		.thumbnails .thumbnail:hover {
			text-decoration: none;
		}

		.thumbnails .caption {
			padding: 0;
			font-weight: bold;
		}
