.build-list {
  height: 100%;
}

.build-list .no-services-message {
  color: #F90;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 1em;
  text-align: center;
}

.theme-dark {
	background-color: #000;
}

.theme-light {
  background-color: #fff;
}
