.jsoneditor {
	bottom: 10px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 10px;
}

.jsoneditor textarea {
	bottom: 42px;
	position: absolute;
	width: 100%;
	top: 0;
}

.jsoneditor .editor-button {
	bottom: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}

.jsoneditor .editor-error {
	color: #737373;
	padding-left: 1em;
	position: absolute;
	top: 8px;
}