@import url("partial/popup.css");

body {
	margin-top: 0;
}

.service-group {
	text-align: left !important;
}

.label .error-message {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 250px;
}

li .service-item-name {
	font-weight: bold;
}