@import url("../../bower_components/angular/angular-csp.css");
@import url("partial/popup.css");

body {
	background-color: #141414;
	color: white;
	margin-top: 0;
}

.no-services-message {
	color: #F90;
	font-size: x-large;
	font-weight: bold;
	margin-top: 60px;
	margin-bottom: 1em;
	text-align: center;
}

.service-group {
	text-align: left;
}

.label .error-message {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 250px;
}

li .service-item-name {
	font-weight: bold;
}