@import url("../../bower_components/angular/angular-csp.css");
@import url("../../bower_components/bootstrap-switch/build/css/bootstrap3/bootstrap-switch.css");
@import url("angular-ui.css");
@import url("partial/addService.css");
@import url("partial/alert.css");
@import url("partial/serviceList.css");

body {
	padding-top: 55px;
}

a {
	cursor: pointer;
}

.scrollable {
	overflow: auto;
	height: 100%;
	width: 100%;
}

.content-container {
	bottom: 0;
	left: 241px;
	padding-top: 13px;
	position: absolute;
	right: 0;
	overflow: auto;
	top: 50px;
}

.modal-header-remove { background-color: #333333; }
.modal-header-remove span, .modal-header-remove h4 { color: #ffffff; }

	.settings-container {
		box-sizing: border-box;
		float: left;
		width: 50%;
	}

		.settings-container fieldset {
			padding-left: 10px;
			padding-right: 10px;
		}

		.settings-container .update-interval {
			width: 50%;
		}

		.settings-container .form-buttons {
			text-align: center;
		}

	.project-selection-container {
		box-sizing: border-box;
		float: left;
		padding: 0 10px;
		width: 50%;
	}

		.project-selection-container .view-selection {
			text-align: right;
		}

		.project-selection-container .filter-count {
			float: right;
		}

		.project-selection-container .check-all {
			margin-right: 5px;
		}
		
		.project-selection-container .panel-title {
			font-weight: bold;
		}

		.project-selection-container .panel-body {
			padding: 10px 15px 0 15px;
		}
		
		.project-selection-container .panel-body label {
			font-weight: normal;
		}
		
	.content-container .alert-danger {
		clear: both;
		margin: 10px;
	}

.navbar-brand {
	text-align: center;
	width: 240px;
}

	.navbar-brand .logo {
		vertical-align: top;
		width: 20px;
	}

	.navbar .toggle-button {
		margin-top: 11px;
	}

	.navbar .service-name {
		font-weight: bold;
	}

	.navbar {
		padding-right: 15px;
	}

.sidebar-nav {
	border-right: 1px solid #BBB;
	bottom: 0;
	left: 0;
	position: fixed;
	text-align: center;
	top: 50px;
	width: 240px;
}

	.sidebar-nav .service-list-separator {
		display: none;
	}

	.sidebar-nav .scrollable {
		padding: 10px;
		box-sizing: border-box;
	}

.filter {
	box-sizing: border-box;
	height: 30px;
	margin: 0 20px 5px 0;
	position: relative;
	width: 100%;
}

	.filter input {
		box-sizing: border-box;
		height: 30px;
		left: 0;
		position: absolute;
		width: 100%;
	}

	.filter i {
		cursor: pointer;
		display: none;
		position: absolute;
		right: 3px;
		top: 1px;
	}

@media (max-width: 767px) {

	.sidebar-nav {
		position: absolute;
	}

	.settings-container {
		float: none;
		width: 100%;
	}

	.project-selection-container {
		float: none;
		width: 100%;
	}
}

@media (max-width: 515px) {

	.sidebar-nav {
		border: none;
		position: static;
		width: auto;
	}

		.sidebar-nav .feedback-link {
			position: relative;
		}
		
	.content-container {
		width: auto;
		right: auto;
		position: static;
	}

}
