@import url("../../bower_components/angular/angular-csp.css");
@import url("../common-ui/angular-ui.css");
@import url("directives/alert/alert.css");
@import url("directives/dynamicForm/dynamicForm.css");
@import url("directives/filterQuery/filterQuery.css");
@import url("directives/onOffSwitch/onOffSwitch.css");
@import url("directives/projectList/projectList.css");
@import url("directives/serviceNamePanel/serviceNamePanel.css");
@import url("directives/sidebar/sidebar.css");
@import url("directives/thumbnails/thumbnails.css");
@import url("directives/topnav/topnav.css");
@import url("directives/viewSelection/viewSelection.css");

body {
	padding-top: 55px;
}

a {
	cursor: pointer;
}

.content-container {
	bottom: 0;
	left: 241px;
	padding-top: 13px;
	position: absolute;
	right: 0;
	overflow: auto;
	top: 50px;
}

.content-container .alert-danger {
	clear: both;
	margin: 10px;
}

.settings-container {
	box-sizing: border-box;
	float: left;
	width: 50%;
}

.settings-buttons {
	text-align: center;
}

.project-selection-container {
	box-sizing: border-box;
	float: left;
	padding: 0 10px;
	width: 50%;
}
