<div class="settings-container">
	<form class="settings-form" action="" role="form">
		<section dynamic-form service="selectedDraft"></section>
		<div class="settings-buttons">
			<button type="submit" class="btn btn-primary" ng-click="show()">
				<i class="fa fa-refresh" ng-class="{ 'fa-spin': isLoading }"></i> Show
			</button>
			<button type="button" class="btn btn-success" ng-click="save()" ng-disabled="!isChanged">
				<i class="fa fa-save"></i> Save
			</button>
		</div>
	</form>
	<div class="alert alert-danger" ng-show="projectsError">
		<div class="error-message">{{ projectsError.message }}</div>
		<div>
			<a ng-href="{{ projectsError.url }}" target="_blank" class="alert-link">
				{{ projectsError.url }}
			</a>
		</div>
	</div>
	<section selected-projects projects="selectedDraft.projects"></section>
</div>
<div class="project-selection-container">
	<section view-selection views="views.all" selected="views.selected" ng-show="views.all"></section>
	<section filter-query ng-show="projects.all"></section>
	<section project-list projects="projects.all" view-items="views.selectedItems" selected="projects.selected" filter="filterQuery" ng-show="projects.all"></section>
</div>
<section br-alert show="saving"></section>
