.project-selection-container {
    .panel-group {
        margin-bottom: 10px;
    }
    .filter-count {
        float: right;
    }

    .check-all {
        margin-right: 5px;
    }

    .panel-title {
        font-weight: bold;
    }

    .panel-body {
        padding: 0 10px 0 35px;
    }
    .project-name {
        font-weight: normal;
    }
}

.ui-match {
    font-weight: bold;
}
