.settings-container {
	box-sizing: border-box;
	float: left;
	width: 50%;
}

	.settings-container fieldset {
		padding-left: 10px;
		padding-right: 10px;
	}

	.settings-container .update-interval {
		width: 50%;
	}

	.settings-container .form-buttons {
		text-align: center;
	}
